body{
    font-family: 'Mulish', sans-serif;
}
header, main{
    margin: 30px 135px 100px 135px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}
.nav-links > ul{
    display: flex;
    list-style: none;
    padding: 8px 12px;
    position: relative;
    gap: 44px;
}
.nav-links > ul a{
    color: #424247;
    text-decoration: none;
    font-size: 18px;
}
#orange-color{
    color: #FF5400;
}
.header-text{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 1500px;
    height: 500px;
    border-radius: 16px;
}
.header-text h1{
    font-size: 64px;
    font-weight: 800;
    color: #fff;
    padding: 106px 287px 24px 287px;
}
.header-text p{
    padding: 0 247px 48px 247px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.text-input{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    gap: 24px;
    margin: 0 185px 106px 185px;
}
.When-input input, .Select-input input, .where-input  input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;

} 
.When-input, .Select-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background: #FFF;
   border-radius: 8px;
   text-align: center;
   padding: 0 14px;
}
.find-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background:#FF5400;
    border: none;
    gap: 0px;
}
.find-btn a{
    text-decoration: none;
    color: #FFF;
}
/* Our Popular Tour Section Styles */
.popular-tour{
    display: flex;
    margin-right: 120px;
    gap: 53px;
}
.popular-tour-text h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-tour-text p, ul{
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 50px;
}
.tour-list{
    font-weight: 400;
    line-height: 26px;
}
.primary-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
}
.popular-tour-img{
    width: 540px;
    height: 550px;
}
/* destination-area */
.destination-area h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 800;
} 
.destination-area p{
    text-align: center;
    margin-bottom: 50px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}
.first-collage-img-1, .first-collage-img-2, .first-collage-img-3, .first-collage-img-4, .first-collage-img-5, .first-collage-img-6, .first-collage-img-7{
    position: relative;
    margin-right: 150px;
}
.first-collage p, .second-collage p, .third-collage p{
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
}
.first-collage, .second-collage, .third-collage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 10px;
} 
.first-collage img, .third-collage img{
    width: 673px;
    height: 350px;
}
/* Choose us area */
.choose-us-area h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.choose-us-area > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}
.card{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.card h3, .card-3 > h3{
    font-size: 24px;
    font-weight: 800;
}
.card-1, .card-3{
    width: 573px;
    height: 210px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.card-2{
    width: 573px;
    height: 210px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 35px;
}
.card-3{
    margin: 20px 180px 20px 480px;
}
/* New Section Styles */










/* media queary for responsive website */

@media screen and (max-width: 600px){
   header, main{
    margin: 10px;
   }
    .nav-links > ul{
        flex-direction: column;
        display: none;
    }
    .menu{
        display: block;
    }
    .header-text{
        width: 335px;
        height: 483px;
    }
    .header-text h1,
    .popular-tour-text h1{
        font-size: 20px;
        padding: 32px 65px 5px 65px;
    }
    .header-text p{
        padding: 0 15px 10px 15px;
    }
    .text-input{
        display: grid;
        grid-template-columns: 1;
        align-items: center;
        margin: 0 20px;
        width: 256px;
        height: 279px;
    }
    .text-input input, .find-btn{
        width: auto;
    }
    .popular-tour{
        flex-direction: column;
        margin-right: 10px;
    }
    .popular-tour-text{
        text-align: left;
    }
    .popular-tour-img{
        overflow: clip;
        width: 338px;
        height: 342px;
        border-radius: 16px;
    }
    .first-collage, .second-collage, .third-collage, .card{
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .first-collage-img-1, .first-collage-img-2, .first-collage-img-3, .first-collage-img-4, .first-collage-img-5, .first-collage-img-6, .first-collage-img-7{
        margin-right: 10px;
    }
    .first-collage img, .second-collage img, .third-collage img{
        width: 335px;
        height: 176px;
    }
    .first-collage p, .second-collage p, .third-collage p{
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
    .card-1, .card-2, .card-3{
        width: 250px;
        height: 210px;
        margin-bottom: 15px;
    }
    .card-3{
        margin: 0px 15px 15px 15px;
    }
}

    

